<!DOCTYPE html>
<html>
	<head>
		<title>404: Page not found</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
	</head>
	<body>
        <section>
            <h1><b>404</b> That's an error!</h1>
            <p>
            We're sorry, but the requested file could not be found. 
            If you think this is a bug, please contact us. 
            <a href="https://github.com/CodeLongAndProsper90">@CodeLongAndProsper90</a> or <a href="github.com/Supercolbat">@Supercolbat</a>
            </p>
        </section>

        <img src='https://http.cat/404'>
	</body>
</html>