<!DOCTYPE html>
<html>
	<head>
		<title>404: Page not found</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
	</head>
	<body>
        <section>
          <h1>Great. You broke it</h1>
          <p> Somehow, you've managed to reach an unreachable page...<br>

            You can go back to the <a href="{{ url_for('index') }}">main page</a><br>
            
            Or... you could just ponder how amazing this cat is.<br>

            Your move.</p>
        </section>

        <img src='https://http.cat/404'>

	</body>
</html>