<!--
                      .ed$$$F
                    z$$$$$$"
                   4$$$$$$F          .$*"""*$P          *Salmon*
                   $$$$$$$be.       z"     z"
                 z" $        *c    e"     /
                P   '           "*"
              ."     $                    r
              F      'L                   3
             $        "c                   .
            .          ^b                  $
            $            *c   z$*"""**b.   4
            P              *$P          *$ 4
            F                 "$c         *d
            F                    "*e.      "
        G $cb                       "$c
        i $$$c                         *c
        l 3$$$$$$ec                      $.
        o  $$$$$$$$$$.                    "c
        9   $$$$$$$$$$c                    'c
        4,   *$$$$$$$$$c                    "c
               "$$$$$$$"               $ 3   *
                 "$$                   *.J    $
                   "$b                        3r
                     "$b.                      $
                       ^*$e.                   $
                          "$$$c                ^F
                             ^*$$$e.           JF
                                   "**$$$beee$$P

-->

<!DOCTYPE html>
<html>
	<head>
		<title>418: I'm a teapot!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/418.css') }}">
	</head>
	<body>
        <section>
          <h1>Now, why would you want coffee?</h1>
        </section>

        <img src='https://http.cat/418'>

	</body>
</html>