<!DOCTYPE html>
<html>
	<head>
		<title>500: Internal Error</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/500.css') }}">
	</head>
	<body>
        <section>
            <h1>Great. We broke it.</h1>
            <p>
              We're sorry, but one of three things has happened:
              <ul>
                <li>We are working on a new feature, and have messed something up.</li>
                <li>There are too many visitors</li>
                <li>The amazingness of this cat broke the website.</li>
              </ul>
            </p>
        </section>
        <img src='https://http.cat/500'>
	</body>
</html>